node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/reporter
/allure-report
/allure-results

# Environment files
.env
.env.local
